*{
	font-family: tahoma !important;
}
.hijau{
	background: green;
}
.ungu{
	background: purple;
}
.biru{
	background: blue;
}
body{
	background-color: #1a0d01;
}
legend{
	font-size: 17px;
	font-weight: bold;
}
textarea{
	font-size: 12px;
}
.menu{
	background: #ffd90c;
	height: 40px;
	padding: 10px 0 0 0;
	font-size: 11px;
}
select{
	font-size: 11px;
}
hr{
	margin: 40px 0;
}

.lupa{
	padding-top: 5px;
}
.submenu{
	position: absolute;
	background: red;
	margin: 70px 0 0 50px;
	height: 100px;
	width: 270px;
}
.top input[type="text"],.top input[type="password"]{
	color: #adb6b7;
	max-height: 24px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	font-size: 11px;
	border: none;
}
.inputsearch{
	background:#4d2700 url(../img/inputsearch.jpg) no-repeat left center !important;
	padding-left: 45px !important;
	width: 205px;
	color: #fff !important;
}
.inputemail{
	background:#4d2700 url(../img/inputemail.jpg) no-repeat left center !important;
	padding-left: 20px !important;
	width: 130px;
}
.inputpassword{
	background:#4d2700 url(../img/inputpassword.jpg) no-repeat left center !important;
	padding-left: 20px !important;
	width: 130px;
}
.inputsubmit{
	background: #4d2700;
	color: #edaa10;
	height: 28px;
	border: none;
	margin-top: -10px;
	font-weight: bold;
	font-size:11px;
}
.hitam{ color:#000; }
.merah{ color: #b40a01; }
.putih{ color:#fff;}
.kuning{ color:orange;}
.kanan{ float:right !important; }
.kiri{ float:left !important; }

.header{
	height: 70px;
}

.logo{
	margin-top: -22px;
}
.navigasi{
	margin: 20px 0 0 5px;
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
	display: block;
	border-top: 5px solid #652b00;
	background: #401d00;
	padding: 10px;
	height: 25px;
	width: 50px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	text-align: center; 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#311500), to(#502400));
	background: -webkit-linear-gradient(top, #502400, #311500);
	background: -moz-linear-gradient(top, #502400, #311500);
	background: -ms-linear-gradient(top, #502400, #311500);
	background: -o-linear-gradient(top, #502400, #311500);
	float: left;
}
.navigasi:hover,.navigasi.active{
	background: #ffd90c;
	border-top: 5px solid #b08b1f;
	color: #000;
	text-decoration: none;
}

.slider{
	/*padding-top: 30px;
	padding-bottom: 20px;
	*/
	/*height: 335px;*/
	background: #ffd90c;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 5px solid #e7e7e7;

	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#f4e51c), to(#e7bb12));
	background: -webkit-radial-gradient(circle, #f4e51c, #e7bb12);
	background: -moz-radial-gradient(circle, #f4e51c, #e7bb12);
	background: -ms-radial-gradient(circle, #f4e51c, #e7bb12);
}
.slider img{
	margin: -30px 0 -20px 0px;
}
.slider	.span6,.slider .span10{
	padding: 40px 0 20px 0;
}
.slider p{
	font-size: 14px;
	padding-right: 20px;
	line-height: 22px;	
	/*text-shadow: -1px 0 0 #fafafa;*/

}
.content{
	min-height: 50px;
	height: auto;
	background: #fff;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 20px 0 50px 0;
	font-size: 12px;
}
.awal{
	margin-left: 20px;
}
.akhir{
	margin-right: 20px;
}
p{
	font-size: 13px;
}
.title{
	margin: -10px 0  0px 0;
	line-height: 35px;
	text-shadow: -1px 0 0 #fff;
}
.besar{
	font-size: 40px;
}
small{
	font-size: 11px;
}
.content small{
	margin-top: -10px !important;
	margin-bottom: 20px !important;
	display:block;
	font-size: 12px !important;
	color:orange;
}
.btn-black{
	background: #000;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow:none !important;
	margin-top: 10px;
}
.btn-black:hover{
	background: #313131;
	color: #fff;
}
.coklat{
	display: inline-block;
	background: #442d14;
	padding: 10px 20px;
	min-width: 200px;
	color: #fff;
	/*transform: rotate(-100deg);*/
-webkit-transform: rotate(-1deg);
/*-moz-transform: rotate(-100deg);*/
/*-o-transform: rotate(-100deg);*/
/*-ms-transform: rotate(-100deg);*/
}
.tengah{
	text-align: center;
}
.abu,.orange{
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	margin-top: -30px;
	padding: 30px;
}
.abu{
	background: #e7e7e7;
}
.abu h5{
	margin: 20px 0 0 0;
}
.orange{
	background: #f7d534;
}
.footer{
	padding-top: 20px;
}
.footer ul{
	float: left;
	margin:10px 40px 0 -2px;
}
.footer h4{
	color: #fff;
	font-weight: normal;
}
.footer ul li{
	list-style-type: none;

}
.footer ul li a{
	color: orange;
	text-transform: uppercase;
	margin: 3px 0;
	display: block;
	font-weight: bold;
	font-size: 12px;
}
.footer ul li a:hover{
	color: #b40a01;
	text-decoration: none;
}

.credit{
	margin-top: 50px;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	min-height: 10px;
	height: auto;
	background: #efb52e;
}
a.yahoo,a.yahoooffline,a.yahooonline,a.fb,a.tw{
	display: block;
	cursor: pointer;	
}
a.yahoo{
	background: url(../img/iconyahoo.png);
	width: 62px;
	height: 63px;float: left;
}
a.yahoo:hover{
	background: url(../img/iconyahoo2.png);
}
a.yahoooffline{
	background: url(../img/yahoooffline.png);
	width: 129px;
	height: 29px;
	float: left;
	margin-top: 3px;
}
a.yahooonline{
	background: url(../img/yahooonline.png);
	width: 129px;
	height: 29px;
	float: left;
}
a.fb{
	background: url(../img/iconfb.png);
	width: 57px;
	height: 59px;	
	clear: left;
	float: left;
	margin: 10px 10px 10px 0;
}
a.fb:hover{
	background: url(../img/iconfb2.png);
}
a.tw{
	background: url(../img/icontwitter.png);
	width: 58px;
	height: 59px;	
	float: left;
	margin: 10px 10px 10px 0;
}
a.tw:hover{
	background: url(../img/icontwitter2.png);
}
label{
	font-size: 12px;
}
input[type="text"],input[type="password"],input[type="email"]{
	color: #000;
	max-height: 24px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	font-size: 12px;
	border: 1px solid #d7d7d7;
}
.control-group{
	margin-top: -10px;
}
.form-horizontal{
	/*margin-left: inherit;*/
}	
.panah{
	margin: 0 0 -35px 30px !important;
	display: block;
}


/* Dashboard Style */
.menu .navbar{
	margin-top: -10px;
	box-shadow: none;
	/*background: orange;*/
	height: 50px;

}
 .navbar-inner{
 	background: #f7d534;
	box-shadow: none;
	border: none;
	/*background: red;*/
}
.menu .nav{
	box-shadow: none;
}
.navbar .nav > li > a {
  text-shadow:none;
  padding-top: 15px;
  height: 25px;	
  color: #5d2d0a;
  font-size: 12px;	
}
.brand{
	color: #5d2d0a !important;
	margin-top: 5px;
	font-size: 17px !important;
	font-weight: bold !important;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color:#fff;
  text-decoration: none;
  background-color: #5d2d0a;
  text-shadow:none;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #fff;
  background-color: #5d2d0a;
  text-shadow:none;
}

.tombol{
	font-weight: normal;
	font-size: 14px;
	padding: 7px 15px;
}
.slider .active{
	color: #fff;
	background: #b40a01 !important;
}
.judul{
	margin-left: 6%;
}
.kolom{
	padding-left: 3%;
}
.respmenu{
	display: none;
}

.btn-navbar{
	background: #b40a01 !important;
}
.control-label{
}






